<main>
    <h1 class="title">Hello from Angular !</h1>

    <!-- Images (and assets) are parsed and loaded from within the public directory -->
    <img class='logo' src="/img/logo.png">

    <form-app callbackOnSubmit="this.onFormSubmit(value)"
              articles="$ctrl.articles"
              article="$ctrl.article"></form-app>

    <ul class="article" ng-repeat="article in $ctrl.articles  track by $index">
        <li ng-click="$ctrl.openArticle($event, $index, article)">
            <div ng-click="">
                {{ ($index + 1) + ') ' + article.title }} / {{ article.date }}
            </div>
        </li>
    </ul>
    <div>Number of articles: {{$ctrl.articles.length}}</div>


</main>
<footer>
</footer>