<form name="myForm" ng-submit="$ctrl.onSubmit($event)">
    <label>
        Title:
        <input type="text"
               name="title"
               ng-model="$ctrl.title"
               ng-minlength="6"
               required>
    </label>
    <div role="alert">
        <span class="error"
              ng-show="myForm.title.$error.minlength">
        Title is too short!
        </span>
        <span class="error"
              ng-show="myForm.title.$error.required">
        Title is required!
        </span>
    </div>
    <label>
        Description:
        <input type="text"
               name="desc"
               ng-model="$ctrl.desc"
               ng-minlength="10"
               required>
    </label>
    <div role="alert">
        <span class="error"
              ng-show="myForm.desc.$error.minlength">
        Description is too short!
        </span>
        <span class="error"
              ng-show="myForm.desc.$error.required">
        Description is required!
        </span>
    </div>

    <label>
        Author:
        <input type="text"
               name="author"
               ng-model="$ctrl.author"
               ng-minlength="2"
               required>
    </label>
    <div role="alert">
        <span class="error"
              ng-show="myForm.author.$error.minlength">
        Author is too short!
        </span>
        <span class="error"
              ng-show="myForm.author.$error.required">
        Author is required!
        </span>
    </div>

    <label>
        Date:
        <input type="date"
               name="date"
               ng-model="$ctrl.date"
               required>
    </label>
    <div role="alert">
        <span class="error"
              ng-show="myForm.date.$error.required">
        Date is required!
        </span>
    </div>

    <button class="btn"
            type="submit">Submit new
    </button>
    <button ng-if="$ctrl.article"
            class="btn"
            ng-click=""
            type="button">Change
    </button>
</form>